BODY {
 PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 0.8em;
 
}
TABLE TD { 
 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 0.8em;
}

A { 
 COLOR: #000080; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}

A:hover {
	COLOR: #ff6600;TEXT-DECORATION: underline
}

H1 {
 color: #000080; font-size: 14px;	
}
H2 {
 font-size: 14px;	
}
H3 {
font-size: 14px;		
}
H4 {
font-size: 14px;	
}
H5 {
 FONT-WEIGHT: bold; MARGIN-BOTTOM: 1px
}
UL {
 PADDING-RIGHT: 2px; PADDING-LEFT: 2px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-TOP: 2px; LIST-STYLE-TYPE: decimal; TEXT-ALIGN: left
}
LI {	 
 LIST-STYLE-POSITION: inside; MARGIN-LEFT: 2em; LIST-STYLE-TYPE: square; PADDING-TOP: 0.5em;
}

TD#headerbanner {
	VERTICAL-ALIGN: middle; WIDTH: 100%; BACKGROUND-COLOR: #2f5376; TEXT-ALIGN: center;
}
TD#headerlogo {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px;
}



TD#headerbar {
	BACKGROUND-IMAGE: url(hbar.gif); BORDER-BOTTOM: #dddddd 1px solid; FONT-SIZE: 12px;
}
TD#headerbar A {
 	FONT-WEIGHT: bold; COLOR: #666666; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none;
}

TD#headerbar A:hover {
	COLOR: #ff6600;TEXT-DECORATION: underline
}

.artfooter {
	 font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 1.0em;TEXT-ALIGN: center;	
}
.artcprght {
	 font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 0.8em;TEXT-ALIGN: center;color: #6600FF;	
}

.artheading {
	BORDER-BOTTOM: #dddddd 1px solid; font-family: Arial, Helvetica, Sans-Serif; font-size: 1.3em;color: #000080;FONT-WEIGHT: bold;
	 
}

