BODY	{ 	
		text: #300000; 
		text-decoration: none;
		background: #fffff0;
		font-family: verdana,helvetica,arial;
		font-size: 10pt;
	}

P 	{
		text-align: justify;
		font-family: verdana,helvetica,arial;
		font-size: 10pt;
	}

P.CENTRE	
	{
		text-align: center;
	}

H1 	{ 
		font-size: 24pt;
		text-align: center;
	}


H2 	{ 
		font-size: 20pt;
		text-align: left;
	}

H2 	{ 
		font-size: 16pt;
		text-align: left;
	}

P.insert
	{
		font-size: 16pt;
		text-align: center;
		color: #00ff00;
		border: solid;
		border-width: 2;
		border-color: red;
		display: block;
		width: 40%;
	}
		
			

PRE  	{
		font-size: 10pt; 
		color: #000000; 
		font-family: courier;
	}

PRE.progclass
	{
		font-size: 10pt;
		color: #000000;
		background: yellow;
		border: solid;
		border-color: red;
		border-width: 2;
		font-family: courier;
	}
PRE.dataclass
	{
		font-size: 10pt;
		color: #000000;
		background: cyan;
		border: solid;
		border-color: blue;
		border-width: 2;
		font-family: courier;
	}

DIV.xclass
	{
		color: #000000;
		background: #7fff7f;
		border: solid;
		border-color: red;
		border-width: 2;
	}
DIV.display
	{
		height: 400px;
		display: block;
	}

DIV.tip
	{
		color: #000000;
		background: #ffe0e0;
		border: solid;
		border-color: red;
		border-width: 2;
	}
TT	{
		font-size: 10pt;
		font-family: courier;
		font-weight: bold;
	}

CODE	{
		font-size: 10pt;
		font-family: courier;
		font-weight: bold;
	}

A
	{
		text-decoration: none;
	}
A:link
	{
		color: #00af00;
	}

A:visited
	{
		color: #004f00;
	}

